@{
  Layout = "_Layout";
}

<h1>Add a New Course</h1>

<form action="/courses" method="post" class="form-group">
  <label for="name">Course name:</label>
  <input type="text" class="form-control" name="name">
  <label for="number">Course number:</label>
  <input type="text" class="form-control" name="number">

<label for="department">Choose department</label>
  <select class="selectpicker" name="department">
    @foreach(var department in Model)
    {
      <option value="@department.GetId()">@department.GetName()</option>
    }
  </select>
<br>
<br>
  <button type="submit" class="btn btn-success" name="button">Add course</button>
</form>

<a href="/courses"><button type="button" class="btn btn-warning" name="button">Back to Courses</button></a>
<a href="/"><button type="button" class="btn btn-warning" name="button">Go Home</button></a>
