@{
  Layout = "_Layout";
}

<h1>Add a New Student</h1>

<form action="/students" method="post" class="form-group">

  <label for="name">Student name:</label>
  <input type="text" class="form-control" name="name">

  <label for="date">Student enrollment date:</label>
  <input type="date" class="form-control" name="date">

  <label for="department">Add a department:</label>
  <select class="selectpicker" name="department">
    @foreach(var department in Model)
    {
          <option value="@department.GetId()">@department.GetName()</option>
    }
  </select>
<br>
  <button type="submit" class="btn btn-success" name="button">Add student</button>
</form>

<a href="/students"><button type="button" class="btn btn-warning" name="button">Back to Students</button></a>
<a href="/"><button type="button" class="btn btn-warning" name="button">Go Home</button></a>
